<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
  </head>
  <body>
    <h1><%= kindOfDay %></h1>
    <ul>
      <li>Buy food</li>
      <li>Cook food</li>
      <li>Eat food</li>
    </ul>
    <form action="/" method="post">
      <input type="text" name="newTask" value="" placeholder="Add task">
      <button type="submit" name="submit"> + </button>
    </form>
  </body>
</html>
