<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="css/styles.css" type="text/css">
  </head>
  <body>
    <h1><%= kindOfDay %></h1>
    <ul>
      <% for (var i=0; i< items.length; i++) { %>
      <li><%= items[i] %></li>
      <% } %>
    </ul>
    <form action="/" method="post">
      <input type="text" name="newTask" value="" placeholder="Add task">
      <button type="submit" name="submit"> + </button>
    </form>
  </body>
</html>
